
        <h1 id="detailHeader">Meme Details</h1>
        <div class="flexcontainer">
            <div>
                <img src="<%= memeTransfer.url %>" alt="<%= memeTransfer.name %>">
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">Name: <%= memeTransfer.name %></li>
                    <li class="list-group-item">Id: <%= memeTransfer.id %></li>
                    <li class="list-group-item">Width: <%= memeTransfer.width %></li>
                    <li class="list-group-item">Height: <%= memeTransfer.height %></li>
                </ul>
            </div>
        </div>
